:root
{
	--hover-color:		#ffff66;
	--line-width:		3px;
}

@font-face
{
    font-family: lavi;
    src: url(lavi.ttf);
}

body
{
	background-color:	grey;
	font-family: 		"lavi", Courier, monospace;
	width:				800px;
	margin:				auto;
}

table
{
	background-color:	white;
	width:				100%;
	border-collapse:	collapse;
}

.hoverable:hover
{
	unicode-bidi:		bidi-override;
	direction:			rtl;
}

.hoverable_left:hover
{
	unicode-bidi:		bidi-override;
	direction:			rtl;
	text-align:			left;
}

/*
********************************************************************************
*** TITLES *********************************************************************
********************************************************************************
*/

h1
{
	font-size:		5em;
}

h2
{
	font-size:		3em;
}

h3
{
	font-size:		1.5em;
}

.title
{
	text-align:			center;
}

/*
********************************************************************************
*** HEADER *********************************************************************
********************************************************************************
*/

/*
**************************************************
*** TITLES ***************************************
**************************************************
*/

.header_title
{
	background-color:	#ffff66;
	border:				var(--line-width) solid black;
	margin-bottom:		0;
	padding-bottom:		0;
}

.header_title a
{
	color:				black;
	text-decoration:	none;
	display:			block;
}

.header_subtitle
{
	background-color:	#ff99cc;
	border:				var(--line-width) solid black;
	border-top:			0;
	margin-top:			0;
	padding-top:		0;
	margin-bottom:		0;
	padding-bottom:		0;
}

/*
**************************************************
*** INDEX ****************************************
**************************************************
*/

.header_index
{
	background-color:	#66ccff;
	border:				var(--line-width) solid black;
	border-top:			0;
	margin-top:			0;
	padding-top:		0;
	margin-bottom:		0;
	padding-bottom:		0;
}

.header_index td
{
	border:				var(--line-width) solid black;
	border-top:			0;
	padding-left:		2em;
}

.header_index a
{
	color:				black;
	text-decoration:	none;
	display:			block;
}

.header_index .content:hover
{
	background-color:	#ff9966;
}

.header_index .decoration
{
	width:				50%;
}

/*
********************************************************************************
*** MAIN ***********************************************************************
********************************************************************************
*/

/*
**************************************************
*** TITLES ***************************************
**************************************************
*/

.main_title
{
	background-color:	#66ff99;
	border:				var(--line-width) solid black;
	border-top:			0;
	margin-bottom:		0;
	padding-bottom:		0;
}

.main_title .decoration
{
	width:				20%;
	background-color:	black;
}

.main_subtitle
{
	background-color:	#ff6666;
	border:				var(--line-width) solid black;
	border-top:			0;
	margin-top:			0;
	padding-top:		0;
	margin-bottom:		0;
	padding-bottom:		0;
}

.main_subtitle .decoration
{
	width:				30%;
	background-color:	black;
}

/*
**************************************************
*** CONTENT **************************************
**************************************************
*/

.main_text td
{
	border:				var(--line-width) solid black;
	border-top:			0;
	padding:			3em;
	font-weight:		bold;
}

.main_text a
{
	color:				black;
	text-decoration:	underline;
}

/*
******************************
*** LISTS ********************
******************************
*/

.main_list
{
	border:				var(--line-width) solid black;
	border-top:			0;
}

.main_list td
{
	border:				var(--line-width) solid black;
	border-top:			0;
	font-weight:		bold;
}

.main_list .content
{
	padding:			1em;
	width:				99%;
}

.main_list .content_link:hover
{
	background-color:	var(--hover-color);
}

.main_list a
{
	color:				black;
	display: 			block;
	text-decoration:	none;
}

.main_list .decoration
{
	width:				1%;
	background-color:	black;
}

/*
**************************************************
*** LINKS ****************************************
**************************************************
*/

.main_link td
{
	border:				var(--line-width) solid black;
	border-top:			0;
	padding:			1em;
	font-weight:		bold;
	text-align:			center;
}

.main_link a
{
	display:			block;
	color:				black;
	text-decoration:	underline;
}

.main_link .content:hover
{
	background-color:	var(--hover-color);
}

.main_link .decoration
{
	width:				35%;
	background-color:	black;
}
